html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: Ubuntu_m;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ubuntu_m";
  src: url("../fonts/Ubuntu-R.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu_c";
  src: url("../fonts/Ubuntu-C.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu_b";
  src: url("../fonts/Ubuntu-B.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu_l";
  src: url("../fonts/Ubuntu-L.ttf") format("truetype");
}

.btn_navbar {
  float: right;
  padding: 3px 0 0 0;
}

.btn_navbar div {
  vertical-align: super;
  display: inline-block;
  padding: 0 3px;
}

.btn_navbar a {
  color: white;
  text-decoration: none;
}

.contenido {
  width: 100%;
}

.cosas_nav {
  display: inline-block;
}

.navbar {
  background: #91C73D;
  color: white;
}

.centrado {
  text-align: center;
}

.min_navbar {
  max-width: 850px;
  padding: 3px 0;
  margin: auto;
}

.link_social {
  width: 25px;
  display: inline-block;
}

.link_social img {
  width: 100%;
}

.logo_cotas_jumbotron {
  margin: 30px 0;
}

.sociales {
  margin-top: 2px;
}

/* DROPDOWN NAVBAR */
#primary_nav_wrap {
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

#primary_nav_wrap ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#primary_nav_wrap ul a {
  display: inline-block;
  color: #0067AB;
  text-decoration: none;
  font-size: 1em;
  line-height: 32px;
  padding: 0 15px;
  font-family: Ubuntu_m ,Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
}

#primary_nav_wrap ul li.current-menu-item {
  background: #ddd;
}

#primary_nav_wrap ul li:hover {
  background: #f6f6f6;
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
  z-index: 9999;
}

#primary_nav_wrap ul ul li {
  width: 300px;
  border-bottom: 1px solid #DDDDDD;
  top: 50%;
}

#primary_nav_wrap ul ul li:last-child {
  border-bottom: none;
}

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
  color: #91C73D;
  font-family: Ubuntu_c;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
  display: inline-block;
}

.galeria_slide {
  width: 100%;
  margin: 25px 0 0 0;
}

.galeria_slide div img {
  width: 100%;
}

.descripcion {
  max-width: 600px;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #455560;
  line-height: 120%;
  font-family: Ubuntu_l;
}

.descripcion span {
  font-family: Ubuntu_b;
  font-size: 1.1em;
}

.wrap_fancy {
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.titulo, .titulo_verde {
  font-family: Ubuntu_b;
}

.titulo {
  color: #0067AB;
}

.titulo_verde {
  color: #91C73D;
}

.fancy {
  display: table;
  white-space: nowrap;
}

.fancy:before, .fancy:after {
  border-top: 0.07em solid #455560;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  opacity: 0.2;
  width: 50%;
}

.fancy:before {
  right: 1.5%;
}

.fancy:after {
  left: 1.5%;
}

.circulito_pedorro {
  width: 50px;
  margin: 10px auto;
}

.circulito_pedorro img {
  width: 100%;
}

.wrap_cuadritos_pedorros {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.cuadrito_pedorro {
  text-align: center;
  flex-basis: 200px;
  margin: 30px 0;
  padding: 0 15px;
  border-right: 1px solid #DDDDDD;
}

.cuadrito_pedorro:last-child {
  border-right: none;
}

.cuadrito_pedorro a {
  text-decoration: none;
}

.titulos_trabajos {
  color: #0067AB;
  font-family: Ubuntu_b;
  font-size: 0.8em;
}

.consejo_agua {
  width: 100%;
  background-color: #91C73D;
  padding: 10px 0;
  text-align: center;
  color: #0067AB;
  font-size: 1.2em;
  margin-top: 50px;
}

.noticias {
  padding-bottom: 40px;
}

.noticias:last-child {
  padding-bottom: 5px;
}

.noticias_cotas {
  color: #91C73D;
  font-size: 24px;
}

.titulo_noticias {
  font-size: 18px;
  color: #0067AB;
  padding-bottom: 5px;
  font-family: Ubuntu_m;
  border-bottom: 1px solid #DDDDDD;
}

.tablero_noticias {
  max-width: 900px;
  margin: 20px auto;
  border: 1px solid #DDDDDD;
  padding: 20px;
}

.fecha_noticia {
  font-family: Ubuntu_c;
  color: #455560;
  padding: 10px 0;
}

.texto_imagen {
  display: inline-block;
  width: 47%;
  border: 1px solid #DDDDDD;
  padding: 5px;
  vertical-align: top;
}

.texto_noticia {
  text-align: justify;
  font-family: Ubuntu_l;
  color: #455560;
  font-size: 14px;
  height: 100%;
  padding: 10px 10px 0 10px;
}

.imagen_noticia img {
  width: 100%;
}

.wrap_texto_imagen_noticia {
  height: 318px;
}

.wrap_galeria {
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #DDDDDD;
  text-align: center;
}

.wrap_imagen {
  width: 230px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #DDDDDD;
}

.wrap_imagen img {
  width: 100%;
}

.footer {
  background-color: #0067AB;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  color: white;
  font-family: Ubuntu_l;
  flex-wrap: wrap;
}

.footer div {
  width: 250px;
}

.footer div img {
  width: 200px;
}

.footer div a {
  color: white;
  text-decoration: none;
}

.titulo_footer {
  color: #91C73D;
  padding: 10px 0 25px 0;
  font-family: Ubuntu_b;
}

#mapa_cotas {
  width: 90%;
  height: 400px;
  margin: 30px auto;
  border: 1px solid #DDDDDD;
  padding: 20px;
}

#back-top {
  position: fixed;
  bottom: 60px;
  right: 50px;
}

#back-top a {
  width: 80px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#back-top a:hover {
  color: #000;
}

/* arrow icon (san tag) */
#back-top img {
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 7px;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
